@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #26314A;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
